body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  background-color: #f5f5f5;
}

main {
  width: 80vw;
  margin: 0 auto;
  padding: 1re;
  margin-top: 3rem;
}

main h1 {
  margin: 0;
  margin-bottom: 1rem;
  color: #000;
  padding: 0.4rem;
  margin-left: -0.8rem;
}

main h1 span {
  background-color: #ddff00;
  color: #000;
  margin-right: 0.4rem;
}

main div.food-group {
  margin: 1rem;
}

main div.food-group:last-child {
  border-top: 0.8rem solid #000;
}

main div.food-group h2 {
  margin: 0;
}

main div.food-group ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

main div.food-group ul li {
  width: 30%;
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 0.5rem;
}

main div.food-group ul li h3 {
  margin: 0;
  margin-bottom: 0.25rem;
}
